.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
}

.navbar-default {
  background-color: #03be80;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a{
	color: white;
}

.navbar-brand{
	font-family: 'Roboto', sans-serif !important;
	font-weight: 800;
	font-size: 30px;
}