<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="../js/angular.min.js"></script>
</head>
<body ng-app="app" ng-init="username = 'Quan'" ng-controller="appController">

	Enter your name:
	<input type="text" ng-model="name">
	<br> Hello
	<span ng-bind="name"></span>!
	<br>
	Init value: {{username}}
	<br>
	Firstname: <input type="text" ng-model="student.firstname">
	<br>
	Lastname: <input type="text" ng-model="student.lastname">
	<br>
	<input type="button" value="Submit" ng-disabled="student.lastname.length <= 0">
	<br>
	You enter: {{fullname() | uppercase}}
	<br>
	<input type="checkbox" ng-model="chk">Show button<br>
	<input type="button" value="Submit" ng-show="chk">
	<br>
	<input type="checkbox" ng-model="chkh">Hide button<br>
	<input type="button" value="Submit" ng-hide="chkh">
	<br>
	<input type="button" value="Tinh tong" ng-click="show = true"><br>
	<span ng-show="show">{{tong(2,3)}}</span>
	<script type="text/javascript">
	var app = angular.module('app', []);
	app.controller('appController', function($scope) {
			$scope.student = {
				firstname: '',
				lastname: ''
			};

			$scope.fullname = function(){
				var studentObj = $scope.student;
				return studentObj.firstname + " " + studentObj.lastname;
			};

			$scope.tong = function(a, b){
				return a + b;
			};

			$scope.show = false;

			$scope.change = function(){
				$scope.show = true;
			};
	});
</script>
</body>
</html>